body {
  margin: 1em 4em 0em 4em;
  width: 85vw;
  height: 82vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

div {
  background-image: url("src/assets/images/404.png");
  background-repeat: no-repeat;
  width: 710px;
  height: 500px;
}
