<form [formGroup]="loginForm">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      (focus)="emailInvalid = true"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div *ngIf="emailInvalid">
      <div *ngIf="email?.errors?.['required']" [ngStyle]="{ color: 'red' }">
        *Este campo es obligatorio
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contrasena:</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      (focus)="passwordInvalid = true"
      class="form-control"
      id="exampleInputPassword1"
    />
    <div *ngIf="passwordInvalid">
      <div *ngIf="password?.errors?.['required']" [ngStyle]="{ color: 'red' }">
        *Este campo es obligatorio
      </div>
    </div>
  </div>
  <button
    (click)="login(); emailInvalid = true; passwordInvalid = true"
    type="submit"
    class="btn btn-primary"
  >
    Enviar
  </button>
</form>
