body {
  margin: 1em 4em 0em 4em;
  width: 85vw;
  height: 82vh;
  display: grid;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-text,
.form-label {
  width: 200px;
}

.form-check {
  display: flex;
  justify-content: center;
}
