<body>
  <div *ngIf="userlogged != null">
    <!--Si usuario se logea-->

    <h1>Hola, {{ userlogged.name }} {{ userlogged.surname }}!</h1>

    <h2>Buscar usuario</h2>

    <input
      type="text"
      class="form-control me-sm-2"
      placeholder="Buscar por id"
      [(ngModel)]="id"
    />

    <button (click)="searchUser()">Buscar</button>
    <button (click)="resetSearch()">Rese-T</button>

    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.id }}</td>
    </tr>
  </div>
</body>
